@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
  
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://images.pexels.com/photos/355872/pexels-photo-355872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}


.container {
  height: 100vh;
  width: 100vw; /* Maximum width */
  margin: 0 auto; /* Center it */
}


.destination_input {
  font-family: 'Amatic SC', cursive;
  margin-top: 50px;
  margin-bottom: 25px;
  height: 30px;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 2px black;
  text-align: center;
}

.header{
  font-family: 'Amatic SC', cursive;
  padding: 10px;
  height: 40px;
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: center;
}

.results_header {
  font-family: 'Amatic SC', cursive;
  font-size: 21px;
  margin: 0;
  padding: 0px;
  color: white;
  text-shadow: 2px 2px 2px black;
  
}

.results_table {
  background-color: rgba(0,0,0,0.5);
  font-weight: bold;
  margin-top: 35px;

  height: 300px;
  overflow: auto;
}


#map {
    border: 1px solid black;
    height: 350px;
    margin-top: 30px;  
}


footer {
  padding: 0;
  margin:  0 ;
  margin-top: 51px;
  height: 50px;
  line-height:  50px;
  color: white;
  font-size: 12px;
  text-align:  center;
  text-shadow: 2px 2px 2px black;
  background-color: rgba(0,0,0,0.5);
}




.autocomplete{
    height:  50px;
    overflow: auto;
}

.placeIcon{
    color:  grey;
    background-color: blue;
}


